<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="input-user-name" class="col-md-4 control-label">Username</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               id="input-user-name"
                               placeholder="Username"
                               name="username"
                               [(ngModel)]="username"
                        />
                    </div>

                </div>

                <div class="form-group">
                    <label for="input-password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-8">
                        <input type="password"
                               class="form-control"
                               id="input-password"
                               placeholder="Password"
                               name="password"
                               [(ngModel)]="password"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button (click)="logIn($event)" class="btn btn-default">Log in</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
