<div class="container">
    <table class="table">
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr *ngFor="let task of tasks">
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td></td>
        </tr>
        <tr>
			<td>
				<input type="text" [(ngModel)]="newTaskName" />
			</td>
			<td>
				<input type="text" [(ngModel)]="newTaskDescription" />
			</td>
			<td>
				<button class="btn btn-default" (click)="createTask()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</td>
        </tr>
    </table>
</div>
